@font-face {
    font-family: 'YourFontName';
    src: url('PoetsenOne-Regular.woff') format('woff');
    font-display: swap;
}

.header {
    background-color: #2F6690;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #16425B;
}

h2 {
    color: #333; /* Change the font color */
    font-size: 24px; /* Change the font size */
    font-weight: bold; /* Make the font bold */
    text-align: center; /* Align the text to the center */
    margin-bottom: 20px; /* Add some space below the h1 */
}
.logout-button {
    right: 0;
    transform: translateY(-50%);
    padding: 5px 20px;
    background-color: #D9DCD6;
    color: #000; /* Make text color black */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #81C3D7;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #D9DCD6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Adjust this value to increase or decrease roundness */
    text-align: center;
}

.movie-list {
    background-color: #ffffff;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.form-section {
    margin-bottom: 20px;
}

.search-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    gap: 20px; /* Add some space between the grid items */
    margin-bottom: 20px; /* Add some space below each row */
}

.form-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

.addMovie-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px; /* Add space between label and input field */
}



.search-button {
    right: 0;
    padding: 10px 20px;
    background-color: #81C3D7;
    color: #000; /* Make text color black */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold; /* Make text bold */
    margin-bottom: 10px;
}

.search-button:hover {
    background-color: #3A7CA5;
}

.add-button {
    right: 0;
    padding: 10px 20px;
    background-color: #81C3D7;
    color: #000; /* Make text color black */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold; /* Make text bold */
    margin-bottom: 10px;
}

.add-button:hover {
    background-color: #3A7CA5;
}

.schedule-functions{
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.schedule-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 3 columns */
    gap: 20px; /* Add some space between the grid items */
    margin-bottom: 20px; /* Add some space below each row */
}

.schedule-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

.date-format{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px; /* Add space between label and input field */
}

.movieID-field{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px; /* Add space between label and input field */
}

.output-box {
    background-color: #ffffff;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.additional-feautes{
    margin-bottom: 20px;
}

table {
    width: 100%; /* Makes the table span the full width of its container */
    table-layout: fixed; /* Ensures the table layout is fixed */
    border-collapse: collapse; /* Optional: collapses the borders between cells */
}

th, td {
    padding: 8px; /* Adjust padding to your preference */
    text-align: left; /* Aligns text to the left, adjust as needed */
    border: 1px solid #ddd; /* Optional: adds a border to cells */
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2; /* Optional: styles the header cells */
}

tr {
    background-color: white;
}

/* Example to set specific widths for columns, adjust as needed */
th:nth-child(1) { width: 10%; } /* Select column */
th:nth-child(2) { width: 15%; }
th:nth-child(3) { width: 20%; }


.scrollable-table {
    max-height: 200px; /* Adjust this value as needed */
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.displayTotalCount{
    margin-bottom: 10px;
}