<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PigeonPlex</title>
    <meta name="description" content="Movie Theater">
    <meta name="author" content="Sridhar Patel, Ohm Patel, Jeffano John, Aarya Patel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/account.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="left-image logo-img">
            <img src="{{ url_for('static',filename='img/logo.png') }}" alt="Left Image" id="logo">
        </div>
        <div class="right-image">
            <img src="{{ url_for('static',filename='img/accountImg.png') }}" alt="Right Image" id="account">
            <button class="logout-btn" id="logout">Logout</button>
        </div>
    </div>
    <div class="userInfo">
        <h1>Account Information</h1>
        <form>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username">

            <label for="password">Password: </label>
            <input type="text" id="password" name="password">

            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName">

            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName">

            <label for="email">Email: </label>
            <input type="email" id="email" name="email">

            <label for="phoneNumber">Phone Number: </label>
            <input type="tel" id="phoneNumber" name="phoneNumber">
        </form>
        <h1>Payment Information</h1>
        <form>
            <label for="cardNumber">Card Number: </label>
            <input type="text" id="cardNumber" name="cardNumber">

            <label for="cardExpiry">Card Expiry (DD-MMM e.g. 12-Apr): </label>
            <input type="text" id="cardExpiry" name="cardExpiry">

            <label for="cvv">CVV: </label>
            <input type="text" id="cvv" name="cvv">
        </form>
        <button id="saveBtn" class="save-btn">Save</button>
    </div>
    <div class="purchase">
        <h1>Purchase History</h1>
        <ul id="moviesList" class="purchaseList">
        </ul>
    </div>
    <div class="refund">
        <h1>Refund History</h1>
        <ul id="refundList" class="refundList">
        </ul>
    </div>
    <script type="module" src="{{ url_for('static',filename='scripts/account.js') }}"></script>
</body>
</html>