<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PigeonPlex</title>
    <meta name="description" content="Movie Theater">
    <meta name="author" content="Sridhar Patel, Ohm Patel, Jeffano John, Aarya Patel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="account.css">
</head>
<body>
    <div class="navbar">
        <div class="left-image logo-img">
            <img src="img/logo.png" alt="Left Image">
        </div>

        <div class="right-image">
            <img src="img/accountImg.png" alt="Right Image">
            <button class="logout-btn">Logout</button>
        </div>
    </div>
    <div class="userInfo">
        <h1>Account Information</h1>
        <form>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username">

            <label for="password">Password: </label>
            <input type="password" id="password" name="password">

            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName">

            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName">

            <label for="email">Email: </label>
            <input type="email" id="email" name="email">

            <label for="phoneNumber">Phone Number: </label>
            <input type="tel" id="phoneNumber" name="phoneNumber">
        </form>
        <h1>Payment Information</h1>
        <form>
            <label for="cardNumber">Card Number: </label>
            <input type="text" id="cardNumber" name="cardNumber">

            <label for="cardExpiry">Card Expiry: </label>
            <input type="text" id="cardExpiry" name="cardExpiry">

            <label for="cvv">CVV: </label>
            <input type="text" id="cvv" name="cvv">
        </form>
        <button class="save-btn">Save</button>
    </div>
    <div class="purchase">
        <h1>Purchase History</h1>
        <ul class="purchaseList">
            <li class="purchase-card">
                <h3>Purchase ID: 1</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
                <button class="refund-btn">Refund</button>
            </li>
            <li class="purchase-card">
                <h3>Purchase ID: 2</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
                <button class="refund-btn">Refund</button>
            </li>
            <li class="purchase-card">
                <h3>Purchase ID: 3</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
                <button class="refund-btn">Refund</button>
            </li>
            <li class="purchase-card">
                <h3>Purchase ID: 4</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
                <button class="refund-btn">Refund</button>
            </li>
            <li class="purchase-card">
                <h3>Purchase ID: 5</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
                <button class="refund-btn">Refund</button>
            </li>
        </ul>
    </div>
    <div class="refund">
        <h1>Refund History</h1>
        <ul class="refundList">
            <li class="refund-card">
                <h3>Refund ID: 1</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
            </li>
            <li class="refund-card">
                <h3>Refund ID: 2</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
            </li>
            <li class="refund-card">
                <h3>Refund ID: 3</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
            </li>
            <li class="refund-card">
                <h3>Refund ID: 4</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
            </li>
            <li class="refund-card">
                <h3>Refund ID: 5</h3>
                <h3>Movie Name: The Dark Knight</h3>
                <h3>Amount: $12.00</h3>
                <h3>Date: 2023-11-13</h3>
            </li>
        </ul>
    </div>
</body>
</html>