<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>Login</title>
        <meta name="description" content="Movie Theater">
        <meta name="author" content="Sridhar Patel, Ohm Patel, Jeffano John, Aarya Patel">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
    </head>
    <body>
        <div class="blur">
            <div class="login">
                <h1>Login Page</h1>
                <input type="text" name="username" id="uName" placeholder="Username" required="required" />
                <input type="password" name="password" id="password" placeholder="Password" required="required" />
                <button type="submit" id="loginBtn" class="btns">Login</button>
                <a href="{{ url_for('index') }}"></a><button type="submit" id="signUpBtn" class="btns">Sign Up</button></a>
            </div>
        </div>
        <script type="module" src="{{ url_for('static',filename='scripts/login.js') }}"></script>
    </body>
</html>