<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>PigeonPlex</title>
        <meta name="description" content="Movie Theater">
        <meta name="author" content="Sridhar Patel, Ohm Patel, Jeffano John, Aarya Patel">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/movie.css') }}">
    </head>
    <body>
        <div class="navbar">
            <div class="left-image logo-img">
                <img src="{{ url_for('static',filename='img/logo.png') }}" alt="Left Image" id="logo">
            </div>
            <div class="right-image">
                <img src="{{ url_for('static',filename='img/accountImg.png') }}" alt="Right Image" id="account">
                <button class="logout-btn" id="logout">Logout</button>
            </div>
        </div>
        <h1 id="title">Title</h1>
        <p id="description">Movie description</p>
        <div class="container">
            <div class="column">
                <img id="image" src="img/test.jpg" alt="Image">
            </div>
            <div class="column text-column">
                <h4 id="cast">Cast</h4>
                <h4 id="director">Director</h4>
                <h4 id="duration">Duration</h4>
                <h4 id="genre">Genre</h4>
                <h4 id="rating">Rating</h4>
                <h4 id="trailer">Trailer</h4>
                
                <div class="tickets">
                    <h2>Available Tickets</h2>
                    <div id="dates">
                    </div>
                    <label for="time">Choose a time:</label>
                    <select name="time" id="time">
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                    </select>
                    <div class="input-group">
                        <button id="decrement">-</button>
                        <input type="number" id="input" value="0" readonly>
                        <button id="increment">+</button>
                    </div>
                    <button id="purchase" class="purchase-btn">Purchase</button>
                </div>
            </div>
        </div>
        <script type="module" src="{{ url_for('static',filename='scripts/movie.js') }}"></script>
    </body>
</html>